.hovered-image-container {
    position: relative;
    width: 100%;
}

.hovered-image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	cursor:pointer;
}
.hovered-image-text {
	cursor:pointer;
}

.hovered-image-middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.hovered-image-container:hover .hovered-image {
	opacity: 0.3;
}

.hovered-image-container:hover .hovered-image-middle {
	opacity: 1;
}

.hovered-image-text {
	font-weight: bold;
	color: white;
	font-size: 20px;
	padding: 16px 32px;
}