.appsin-frame ul li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 0 1px 0 0;
	padding: 0;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}

@media only screen and (min-device-width : 768px) {
	.appsin-frame ul li {
	width: calc((((100vh - 94px)*0.83)*0.35)*0.72) !important;
	width: -webkit-calc((((100vh - 94px)*0.83)*0.35)*0.72) !important;
	width: -moz-calc((((100vh - 94px)*0.83)*0.35)*0.72) !important;
	height: 100% !important;
	}
	@media not all and (min-resolution:.001dpcm)
	{ @supports (-webkit-appearance:none) {
		.appsin-frame ul li {
				width: calc((((100vh - 94px)*0.83)*0.35)*0.72) !important;
				height: 100% !important;
			}
	}}
}




/* Frame */
.frame {
	height: 100%;
	line-height: 100%;
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.frame ul li {
	float: left;
	width: 227px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	background: #1a1a1a;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul li.active {
	color: #fff;
	background: #F7931E;
}
/* appsin-Frame */
.appsin-frame {
	height: 100%;
	line-height: 100%;
	overflow: hidden;
}
.appsin-frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

.appsin-frame ul li.active {
}
/* Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #F7931E;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}
